.item.shopping-list-view-item {
    .content {
        .loader {
            top: unset;
            margin-right: 1rem;
            vertical-align: unset;
        }
        .checkbox {
            margin-right: 0.5rem;
            input:checked~label:after {
                color: green;
            }
        }
    }
}
