$actions-height: 3rem;
$header-height: 7rem;
$body-margin: 0; //1rem;

$font-family: Helvetica, sans-serif;

$border-color: #ddd;

$color-primary: #1279c6;
$color-positive: rgb(59, 192, 26);
$color-link: #4183c4;
