@import "../../styles/variables.scss";

.ui.wide.left.sidebar {
  width: 70vw;
}
.ui.sidebar {
  overflow: visible !important;
}
.mmp-menu-item-profile {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid $border-color;

  .mmp-profile-image {
    flex: auto 0 1;
    margin: auto 1rem;
    // width: 28px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .mmp-info {
    flex: auto 1 0;
    text-align: left;
    margin-bottom: 1rem;
    text-overflow: ellipsis;
  }
  h3 {
    margin-top: 1rem;
    margin-bottom: 0;
  }
}
.mmp-sidebar .mmp-btn-close {
  flex: auto 0 1;
  margin: auto 0;
  margin-left: 1rem;
  margin-right: 1rem;

  // position: absolute;
  // top: 1rem;
  // right: 1rem;
}
