@import "../../styles/variables.scss";

.ui.wide.left.sidebar {
  width: 60vw;
}
.ui.sidebar {
  overflow: visible !important;
}
.mmp-menu-item-profile {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid $border-color;

  .mmp-profile-image {
    margin: auto 1rem;
  }

  .mmp-info {
    text-align: left;
    margin-bottom: 1rem;
  }
  h3 {
    margin-top: 1rem;
    margin-bottom: 0;
  }
}
.mmp-sidebar .mmp-btn-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
